body {
    font-family: 'Montserrat', sans-serif;
}

.image_block {
    position: relative;
    width: 25%;
    height: auto;
    top: 20px;
    left: 40%;
}

.card-body h3 {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 5px;
}

#customer ::before {
    content: "- ";
    font-weight: 400;
}

.owl-prev {
    left: -20px;
}

.owl-next {
    right: -20px;
}

.owl-prev,
.owl-next {
    top: 30%;
    position: absolute;
}

.owl-next span,
.owl-prev span {
    font-size: 40px;
    padding: 0 12px 5px 12px;
    background-color: white;
    box-shadow: 0 0 7px rgb(100, 100, 100);
    transition: 2s;
}

.owl-prev span:hover,
.owl-next span:hover {
    border: 1px solid black;
    transition: 2s;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
    color: rgb(7, 7, 7);
}